{{- $pages := .Pages -}}
{{- /* Front matter: password */ -}}
{{- $pages = where $pages "Params.password" "eq" nil -}}
{{- /* Front matter: hiddenFromFeed */ -}}
{{- $pages = where $pages "Params.hiddenFromFeed" "ne" true -}}
{{- $limit := .Site.Params.feed.limit -}}
{{- if ge $limit 1 -}}
  {{- $pages = $pages | first $limit -}}
{{- end -}}
{{- $length := $pages.Len -}}

{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ .Title }}",
  "description": "{{ .Site.Params.description | default .Site.Title }}",
  "home_page_url": "{{ .Site.BaseURL }}",
  {{ with .OutputFormats.Get "feed" -}}
  "feed_url": "{{ .Permalink }}",
  {{ end -}}
  {{ with .Site.Language.LanguageCode -}}
  "language": "{{ . }}",
  {{ end -}}
  "icon": "{{ `/apple-touch-icon.png` | absURL }}",
  "favicon": "{{ `/favicon.ico` | absURL }}",
  {{ with .Site.Params.author.name -}}
  "authors": [
    {
      "name": "{{ . }}"{{ with $.Site.Params.author.link }},
      "url": "{{ . }}"{{ end }}{{ with $.Site.Params.author.avatar }},
      "avatar": "{{ . | absURL }}"{{ end }}
    }
  ],
  {{ end -}}
  "items": [
    {{- range $index, $page := $pages }}
    {{- $params := .Params | merge .Site.Params.Page }}
    {{- $fullText := (.Param "feed").fullText }}
    {{- $author := partial "function/get-author-map.html" .Params.author }}
    {{- $image := $params.featuredimagepreview | default $params.featuredimage }}
    {{- with $image }}
      {{- if not (hasPrefix . "/") }}
        {{- $image = (printf "%s%s" $page.RelPermalink .) | safeURL }}
      {{- end }}
      {{- $image = $image | absURL }}
    {{- end }}
    {{- with .Resources.GetMatch "featured-image" }}
      {{- $image = .Permalink }}
    {{- end }}
    {{- with .Resources.GetMatch "featured-image-preview" }}
      {{- $image = .Permalink }}
    {{- end }}
    {
      "title": {{ .Title | jsonify }},
      "date_published": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
      "date_modified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
      "id": "{{ .Permalink }}",
      "url": "{{ .Permalink }}",
      {{ with $author.name -}}
      "authors": [
        {
          "name": "{{ . }}"{{ with $author.link }},
          "url": "{{ . }}"{{ end }}{{ with $author.avatar }},
          "avatar": "{{ . | absURL }}"{{ end }}
        }
      ],
      {{ end -}}
      {{ with .Params.tags -}}
      "tags": {{ . | jsonify }},
      {{ end -}}
      {{ with $image -}}
      "image": "{{ . }}",
      {{ end -}}
      {{ with .Summary -}}
      "summary": {{ . | plainify | jsonify }},
      {{ end -}}
      {{- if $fullText -}}
      "content_html": {{ .Content | jsonify }}
      {{- else -}}
      "content_html": {{ (.Summary | default .Description | default .Title) | jsonify }}
      {{- end }}
    }{{ if ne (add $index 1) $pages.Len }},{{ end -}}
    {{- end }}
  ]
}
