{{- $pages := .Pages -}}
{{- /* Front matter: password */ -}}
{{- $pages = where $pages "Params.password" "eq" nil -}}
{{- /* Front matter: hiddenFromFeed */ -}}
{{- $pages = where $pages "Params.hiddenFromFeed" "ne" true -}}
{{- $limit := .Site.Params.feed.limit -}}
{{- if ge $limit 1 -}}
  {{- $pages = $pages | first $limit -}}
{{- end -}}
{{- $length := $pages.Len -}}

{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{- .Title -}}",
  "description": "{{- .Site.Params.description | default .Site.Title -}}",
  "home_page_url": "{{ .Site.BaseURL }}",
  {{ with .OutputFormats.Get "feed" -}}
  "feed_url": "{{ .Permalink }}",
  {{ end -}}
  {{ with .Site.LanguageCode -}}
  "language": "{{ . }}",
  {{ end -}}
  "icon": "{{ `/apple-touch-icon.png` | absURL }}",
  "favicon": "{{ `/favicon.ico` | absURL }}",
  {{ with .Site.Params.author.name -}}
  "author": {
    "name": "{{ . }}"{{ with $.Site.Params.author.link }},
    "url": "{{ . }}"{{ end }}{{ with $.Site.Params.author.avatar }},
    "avatar": "{{ . | absURL }}"{{ end }}
  },
  {{ end -}}
  "items": [
    {{ range $index, $element := $pages -}}
    {{- $fullText := (.Param "feed").fullText -}}
    {
      "title": {{ .Title | jsonify }},
      "date_published": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
      "date_modified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
      "id": "{{ .Permalink }}",
      "url": "{{ .Permalink }}",
      {{ with .Params.author.name -}}
      "author": {
        "name": "{{ . }}"{{ with $.Params.author.link }},
        "url": "{{ . }}"{{ end }}{{ with $.Params.author.avatar }},
        "avatar": "{{ . | absURL }}"{{ end }}
      },
      {{ end -}}
      {{ with .Summary -}}
      "summary": {{ . | plainify | jsonify }},
      {{ if not $fullText -}}
      "content_html": {{ . | plainify | jsonify }}
      {{- end }}
      {{- end -}}
      {{- if $fullText -}}
      "content_html": {{ .Content | jsonify }}
      {{- end }}
    }{{ if ne (add $index 1) $pages.Len }},
    {{ end }}
    {{- end }}
  ]
}
