/* Maintained by @Lruihao for FixIt theme */

// /* Background */ .bg { }
// /* PreWrapper */ .chroma { }
// /* LineLink */ .chroma .lnlinks { }
// /* LineTableTD */ .chroma .lntd { }
// /* LineTable */ .chroma .lntable { }
// /* LineHighlight */ .chroma .hl { }
// /* LineNumbersTable */ .chroma .lnt { }
// /* LineNumbers */ .chroma .ln { }
// /* Line */ .chroma .line { display:flex; }
/* Error */ .chroma .err { color: $code-error-color; font-style: italic; border-bottom: 1px dotted $code-error-color;}
/* Keyword */ .chroma .k { color:#cf222e }
/* KeywordConstant */ .chroma .kc { color:#0550ae }
/* KeywordDeclaration */ .chroma .kd { color:#cf222e }
/* KeywordNamespace */ .chroma .kn { color:#cf222e }
/* KeywordPseudo */ .chroma .kp { color:#cf222e }
/* KeywordReserved */ .chroma .kr { color:#cf222e }
/* KeywordType */ .chroma .kt { color:#cf222e }
/* Name */ .chroma .n { color:$code-color }
/* NameAttribute */ .chroma .na { color:#0550ae }
/* NameBuiltin */ .chroma .nb { color:#0550ae }
/* NameBuiltinPseudo */ .chroma .bp { color:$code-color }
/* NameClass */ .chroma .nc { color:#8250df }
/* NameConstant */ .chroma .no { color:#cf222e }
/* NameDecorator */ .chroma .nd { color:#8250df }
/* NameEntity */ .chroma .ni { color:#0550ae }
/* NameException */ .chroma .ne { color:#0550ae }
/* NameFunction */ .chroma .nf { color:#0550ae }
/* NameFunctionMagic */ .chroma .fm { color:#0550ae }
/* NameLabel */ .chroma .nl { color:#0550ae }
/* NameNamespace */ .chroma .nn { color:#8250df }
/* NameOther */ .chroma .nx { color:#0550ae }
/* NameProperty */ .chroma .py { color:#0550ae }
/* NameTag */ .chroma .nt { color:#116329 }
/* NameVariable */ .chroma .nv { color:#953800 }
/* NameVariableClass */ .chroma .vc { color:#0550ae }
/* NameVariableGlobal */ .chroma .vg { color:#0550ae }
/* NameVariableInstance */ .chroma .vi { color:#0550ae }
/* NameVariableMagic */ .chroma .vm { color:#0550ae }
/* Literal */ .chroma .l { color:#0550ae }
/* LiteralDate */ .chroma .ld { color:#0a3069 }
/* LiteralString */ .chroma .s { color:#0a3069 }
/* LiteralStringAffix */ .chroma .sa { color:#0a3069 }
/* LiteralStringBacktick */ .chroma .sb { color:#0a3069 }
/* LiteralStringChar */ .chroma .sc { color:#0a3069 }
/* LiteralStringDelimiter */ .chroma .dl { color:#0a3069 }
/* LiteralStringDoc */ .chroma .sd { color:#0a3069 }
/* LiteralStringDouble */ .chroma .s2 { color:#0a3069 }
/* LiteralStringEscape */ .chroma .se { color:#0a3069 }
/* LiteralStringHeredoc */ .chroma .sh { color:#0a3069 }
/* LiteralStringInterpol */ .chroma .si { color:#0a3069 }
/* LiteralStringOther */ .chroma .sx { color:#0a3069 }
/* LiteralStringRegex */ .chroma .sr { color:#0a3069 }
/* LiteralStringSingle */ .chroma .s1 { color:#0a3069 }
/* LiteralStringSymbol */ .chroma .ss { color:#0a3069 }
/* LiteralNumber */ .chroma .m { color:#0550ae }
/* LiteralNumberBin */ .chroma .mb { color:#0550ae }
/* LiteralNumberFloat */ .chroma .mf { color:#0550ae }
/* LiteralNumberHex */ .chroma .mh { color:#0550ae }
/* LiteralNumberInteger */ .chroma .mi { color:#0550ae }
/* LiteralNumberIntegerLong */ .chroma .il { color:#0550ae }
/* LiteralNumberOct */ .chroma .mo { color:#0550ae }
/* Operator */ .chroma .o { color:#cf222e }
/* OperatorWord */ .chroma .ow { color:#cf222e }
/* Punctuation */ .chroma .p { color:$code-color }
/* Comment */ .chroma .c { color:#6e7781 }
/* CommentHashbang */ .chroma .ch { color:#6e7781 }
/* CommentMultiline */ .chroma .cm { color:#6e7781 }
/* CommentSingle */ .chroma .c1 { color:#6e7781 }
/* CommentSpecial */ .chroma .cs { color:#6e7781 }
/* CommentPreproc */ .chroma .cp { color:#0550ae }
/* CommentPreprocFile */ .chroma .cpf { color:#6e7781 }
/* Generic */ .chroma .g { color:$code-color }
/* GenericDeleted */ .chroma .gd { color:#82071e }
/* GenericEmph */ .chroma .ge { color:$code-color; font-style:italic }
/* GenericError */ .chroma .gr { color:$code-error-color }
/* GenericHeading */ .chroma .gh { color:$code-color }
/* GenericInserted */ .chroma .gi { color:#116329 }
/* GenericOutput */ .chroma .go { color:$code-color }
/* GenericPrompt */ .chroma .gp { color:$code-color }
/* GenericStrong */ .chroma .gs { font-weight:bold }
/* GenericSubheading */ .chroma .gu { color:$code-color }
/* GenericTraceback */ .chroma .gt { color:$code-error-color }
/* GenericUnderline */ .chroma .gl { color:$code-color; text-decoration: underline; }
/* TextWhitespace */ .chroma .w { color:$code-color }
/* Other */ .chroma .x { color:$code-color }

/* Language Diff */
.chroma .language-diff {
  /* GenericDeleted */
  .gd {
    background-color: #ffebe9;
  }
  /* GenericInserted */
  .gi {
    background-color: #dafbe1;
  }
  .gs {
    font-weight: normal;
    color: #953800;
    background-color: #ffd8b5;
  }
}
