{{- /* cache remote image locally */ -}}
{{- $resource := 0 -}}
{{- $suffixList := slice ".jpeg" ".jpg" ".png" ".gif" ".bmp" ".tif" ".tiff" ".webp" ".avif" ".svg" -}}
{{- $suffixValid := (dict "Path" .Path "Suffixes" $suffixList | partial "function/suffix-validation.html") -}}
{{- /* maybe could add domain validation */ -}}
{{- $pass := $suffixValid | or .Pass -}}

{{- if $pass -}}
  {{- with $remoteResource := resources.GetRemote .Path -}}
    {{ printf "Remote image: %v" $remoteResource.ResourceType -}}
    {{- with .Err -}}
      {{- warnf "%s" . -}}
    {{ else }}
      {{- if eq $remoteResource.ResourceType "image" -}}
        {{- /* placed remote image in public/images/remote/ */ -}}
        {{- $resource = $remoteResource | resources.Copy (add "/images/remote/" $remoteResource.Name) -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- return $resource -}}
