{{- /*  
Example:
{{- $suffixList := slice ".jpeg" ".jpg" ".png" ".gif" ".bmp" ".tif" ".tiff" ".webp" ".avif" ".svg" -}}
{{- $suffixValid := (dict "Path" .Path "Suffixes" $suffixList | partial "function/suffix-validation.html") -}}
*/ -}}
{{- $url := urls.Parse .Path -}}
{{- $path := path.Clean ((printf "%v%v" $url.Host $url.Path) | lower) -}}
{{- with $url.Scheme -}}
  {{- $path = printf "%v://%v" . $path -}}
{{- end -}}
{{- $suffix := path.Ext $path -}}
{{- $suffixes := .Suffixes | default slice -}}
{{- $suffixValid := in $suffixes $suffix -}}
{{- return $suffixValid -}}
