@use "core/mixins" as *;

@include page-style;

@include page-style('wide') {
  @include media('xl') {
    width: ROUND(64%, 2px);
    max-width: 1600px;
  }

  @include media('lg') {
    width: ROUND(60%, 2px);
  }

  @include media('md') {
    width: ROUND(56%, 2px);
  }
}

@include page-style('narrow') {
  @include media('xl') {
    max-width: 800px;
  }
}
