/// Link mixin
/// @param {Boolean} $light use global link color
/// @param {Boolean} $dark use global link color dark
/// @param {String} $decoration text-decoration, default none
@mixin link($light, $dark, $decoration: none) {
  $link-color-light: if($light, $global-link-color, $single-link-color);
  $link-color-dark: if($dark, $global-link-color-dark, $single-link-color-dark);
  $link-hover-color-light: if($light, $global-link-hover-color, $single-link-hover-color);
  $link-hover-color-dark: if($dark, $global-link-hover-color-dark, $single-link-hover-color-dark);

  a,
  a::before,
  a::after {
    text-decoration: $decoration;
    color: light-dark($link-color-light, $link-color-dark);
  }

  a:active,
  a:hover {
    color: light-dark($link-hover-color-light, $link-hover-color-dark);
  }
}
