# Hugo default output directory
public/
resources/

# NPM
node_modules/

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

# Linux
.directory

# Hugo
.hugo_build.lock
jsconfig.json
