# Hugo default output directory
public/
resources/

# Hugo
.hugo_build.lock
jsconfig.json

# NPM
node_modules/

# VSCode
.vscode

# OS Files
## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## OSX
.DS_Store

## Linux
.directory


