{{- $params := .Scratch.Get "params" -}}

<meta name="author" content="{{ .Site.Author.name }}">
<meta name="author-link" content="{{ .Site.Author.link }}">
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage | and .Summary }}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />

{{- $keywords := .Keywords -}}
{{- if not $keywords -}}
  {{- if .IsPage | and .Params.tags -}}
    {{- $keywords = .Params.tags -}}
  {{- else -}}
    {{- $keywords = .Site.Params.keywords -}}
  {{- end -}}
{{- end -}}
{{- with $keywords -}}
  <meta name="keywords" content='{{ delimit . ", " }}' />
{{- end -}}

{{- template "_internal/schema.html" . -}}
{{- template "_internal/opengraph.html" . -}}
{{- template "_internal/twitter_cards.html" . -}}

<meta name="application-name" content="{{ .Site.Params.app.title | default .Site.Title }}">
<meta name="apple-mobile-web-app-title" content="{{ .Site.Params.app.title | default .Site.Title }}">

{{- with .Site.Params.app.themeColor -}}
  {{- $color := . -}}
  {{- if ne (len $color) 2 -}}
    {{- $color = dict "light" . "dark" . -}}
  {{- end -}}
  <meta name="theme-color" data-light="{{ $color.light }}" data-dark="{{ $color.dark }}" content="{{ $color.light }}">
{{- end -}}

{{- with .Site.Params.app.tileColor -}}
  <meta name="msapplication-TileColor" content="{{ . }}">
{{- end -}}
