{{- $msg := (.Scratch.Get "params").message | default (T "single.encryptedMessage") -}}
{{- $loading := resources.Get "svg/loading.svg" | minify -}}

<div class="fixit-decryptor-container">
  <img class="fixit-decryptor-loading" src="{{ $loading.RelPermalink }}" alt="decryptor loading" />
  <label for="fixit-decryptor-input" title='{{ T "single.password" }}'>
    <input type="password" id="fixit-decryptor-input" class="d-none" placeholder="🔑 {{ $msg }}" />
  </label>
  <button class="fixit-encryptor-btn d-none">
    {{- dict "Class" "fa-solid fa-lock" | partial "plugin/icon.html" }} {{ T "single.encryptyAgain" -}}
  </button>
</div>
