{{- $params := .Scratch.Get "params" -}}
{{- $authorDefault := dict "name" "Anonymous" "link" "" "email" "" "avatar" "" -}}
{{- $author := .Site.Author | merge $authorDefault -}}
{{- $authorPost := dict -}}
{{- $gravatar := .Site.Params.gravatar -}}

{{- if $params.authorAvatar -}}
  {{- if reflect.IsMap $params.author -}}
    {{- $authorPost = $params.author -}}
  {{- else if isset $params "author" -}}
    {{- $authorPost = dict "name" $params.author -}}
  {{- end -}}
  {{- if isset $authorPost "name" | and (ne $authorPost.name .Site.Author.name) -}}
    {{- $author = $authorPost | merge $authorDefault | merge $author -}}
  {{- else -}}
    {{- with $authorPost.link -}}{{- $author = dict "link" . | merge $author -}}{{- end -}}
    {{- with $authorPost.email -}}{{- $author = dict "email" . | merge $author -}}{{- end -}}
    {{- with $authorPost.avatar -}}{{- $author = dict "avatar" . | merge $author -}}{{- end -}}
  {{- end -}}

  {{- if $gravatar.enable | and $author.email -}}
    {{- with $gravatar -}}
      {{- $author = dict "avatar" (printf "https://%v/avatar/%v?s=32&d=%v"
        (path.Clean .Host | default "www.gravatar.com")
        (md5 $author.email)
        (.Style | default ""))
        | merge $author 
      -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

<span class="post-author">
  {{- $content := $author.name -}}
  {{- $icon := dict "Class" "fa-solid fa-user-circle" -}}
  {{- if $author.avatar | and $params.authorAvatar -}}
    {{- $content = printf "%v&nbsp;%v" (dict "Src" $author.avatar "Class" "avatar" "Alt" $author.name | partial "plugin/image.html") $author.name -}}
    {{- $icon = "" -}}
  {{- end -}}
  {{- if $author.link -}}
    {{- $options := dict "Class" "author" "Destination" $author.link "Title" (T "single.author") "Rel" "author" "Icon" $icon "Content" $content -}}
    {{- partial "plugin/link.html" $options -}}
  {{- else -}}
    <span class="author">
      {{- with $icon -}}
        {{- . | partial "plugin/icon.html" }}
      {{ end -}}
      {{- $content | safeHTML -}}
    </span>
  {{- end -}}
</span>
{{- /* EOF */ -}}
