{{- $params := .Scratch.Get "params" -}}
{{- $reward := .Scratch.Get "reward" -}}
{{- $author := $params.author | default .Site.Author.name -}}

{{- if $reward.enable -}}
  <div class="post-reward">
    <div class="comment">{{- $reward.comment -}}</div>
    <input type="checkbox" name="reward" id="reward" hidden />
    <label class="reward-button" for="reward">{{- T "reward.donate" -}}</label>
    <div class="reward-imgs">
      {{- range $way, $image := $reward.way -}}
        {{- with T (printf "reward.%v" $way) -}}
          {{- $way = . -}}
        {{- end -}}
        <div>
          <img src="{{ $image }}" alt="{{ $author }} {{ $way }}">
          <span{{- if $reward.animation }} data-animation{{- end -}}>{{- $way -}}</span>
        </div>
      {{- end -}}
    </div>
  </div>
{{- end -}}
