@import "../../lib/normalize/normalize";

html {
  font-family: fi-var(global-font-family);
  font-weight: fi-var(global-font-weight);
  font-display: swap;
  font-size: fi-var(global-font-size);
  line-height: fi-var(global-line-height);
  width: 100%;
  scroll-behavior: smooth;
  overflow: auto;
  container-type: scroll-state;
  container-name: scroller;

  &:has(dialog[open]) {
    overflow: hidden;
  }

  @include media('reduce-motion') {
    scroll-behavior: auto;
  }
}

::selection {
  background-color: fi-var(selection-color);
}

body {
  background-color: fi-var(global-background-color);
  color: fi-var(global-font-color);
  @include overflow-wrap(break-word);
}

iframe {
  border: 0;
  @include border-radius;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  color: inherit;
  appearance: none;
  cursor: pointer;
}

button:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

summary {
  cursor: pointer;
}

abbr[title] {
  cursor: help;
  text-decoration-skip-ink: none;
}

img {
  object-fit: cover;
}

img,
video {
  max-width: 100%;
  height: auto;
  @include border-radius;
}

dialog {
  padding: 0;
}

details {
  &.center {
    summary {
      text-align: center;
    }
  }
}

%code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: fi-var(code-font-size);
  line-height: fi-var(code-font-size);
  font-family: fi-var(code-font-family);
  color: fi-var(code-color);
  background-color: fi-var(code-inline-background-color);
  text-decoration: inherit;
  @include border-radius;
  @include overflow-wrap(break-word);
}

@include link(true, true);
