@media only screen and (min-width: 1441px) {
  %page-style {
    width: ROUND(60%, 2px);

    [data-page-style='wide'] & {
      width: ROUND(64%, 2px);
    }

    [data-page-style='narrow'] & {
      max-width: 800px;
    }
  }
}

@media only screen and (max-width: 1440px) {
  %page-style {
    width: ROUND(56%, 2px);

    [data-page-style='wide'] & {
      width: ROUND(60%, 2px);
    }
  }
}

@media only screen and (min-width: 1201px) {
  :is(.code-block, .diagram-container) {
    :is(.diagram-copy-btn, .code-copy-btn) {
      display: none;
    }
    &:hover {
      :is(.diagram-copy-btn, .code-copy-btn) {
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  %page-style {
    width: ROUND(52%, 2px);

    [data-page-style='wide'] & {
      width: ROUND(56%, 2px);
    }
  }

  #header-desktop .header-wrapper {
    padding-right: 1rem;
  }

  .search-dropdown.desktop {
    right: 1rem;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 961px) {
  .wrapper {
    main {
      // Hide empty aside and expand article when only one aside is empty
      aside:first-child:empty:has(~ aside:not(:empty)),
      aside:first-child:not(:empty) ~ aside#toc-auto:empty {
        display: none;
      }
  
      aside:first-child:empty:has(~ aside:not(:empty)) ~ article,
      aside:first-child:not(:empty) ~ article:has(~ aside:empty) {
        flex: 3;
      }
    }

    // Adjust breadcrumb flex when asides are empty
    &:has(main > aside:first-child:empty ~ aside:not(:empty)) .breadcrumb-container {
      .breadcrumb {
        flex: 3;
      }

      &::before {
        display: none;
      }
    }
    &:has(main > aside:first-child:not(:empty) ~ aside#toc-auto:empty) .breadcrumb-container {
      .breadcrumb {
        flex: 3;
      }

      &::after {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  %page-style {
    width: ROUND(80%, 2px) !important;
  }
  
  aside {
    display: none !important;
  }

  #toc-static {
    display: block;
  }

  #header-desktop .header-wrapper {
    padding-left: 1rem;
  }
}

@media only screen and (min-width: 681px) {
  .d-none-desktop {
    display: none;
  }
  .breadcrumb-container.sticky {
    body:not([data-header-desktop='sticky']) & {
      top: 0;
    }
    // adjust the scroll margin top of the content anchors on the page
    body:not([data-header-desktop='auto']) &+.fi-container .content [id] {
      scroll-margin-top: calc(var(#{$rootPrefix}scroll-mt) + var(#{$rootPrefix}breadcrumb-height));
    }
  }

  [data-header-desktop='normal'] .page .content [id] {
    #{$rootPrefix}scroll-mt: #{$global-scroll-margin-top};
  }
}

@media only screen and (max-width: 680px) {
  #header-desktop {
    display: none;
  }

  #header-mobile {
    display: block;
  }

  .d-none-mobile {
    display: none !important;
  }

  .breadcrumb-container.sticky {
    body:not([data-header-mobile='sticky']) & {
      top: 0;
    }
    // adjust the scroll margin top of the content anchors on the page
    body:not([data-header-mobile='auto']) &+.fi-container .content [id] {
      scroll-margin-top: calc(var(#{$rootPrefix}scroll-mt) + var(#{$rootPrefix}breadcrumb-height));
    }
  }

  [data-header-mobile='normal'] .page .content [id] {
    #{$rootPrefix}scroll-mt: #{$global-scroll-margin-top};
  }
  
  %page-style {
    width: 100% !important;
  }

  .page {
    .taxonomy-cards {
      .card-item {
        width: 100%;
      }
    }
  }

  footer {
    .footer-container {
      font-size: 0.618rem;
    }
  }

  .pagination .page-item {
    margin: 0 5px;
  }
}

@media only print {

  // 确保打印时没有 scrollbar
  :root {
    #{$rootPrefix}scrollbar-width: none !important;
  }

  *::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }

  .scrollbar-thin {
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
  }
  
  @page {
    size: A4 portrait;
    margin: 1.27cm;
  }

  .page {
    width: 100% !important;
    padding-top: 0 !important;

    &.single {
      .single-title,
      .single-subtitle,
      .post-meta {
        text-align: center;
      }
    }

    h1:not(.single-title),
    .page-break-before {
      page-break-before: always;
    }

    .page-break-after {
      page-break-after: always;
    }
  }

  .print-d-none {
    display: none !important;
  }
}
