:root {
  interpolate-size: allow-keywords;

  // Theme-independent variables
  @include set-fixit-vars((
    // Set breadcrumb height to 0px if breadcrumb is disabled
    breadcrumb-height: 0px,
    // Divider edge weak gradient
    divider-edge-weak: linear-gradient(to right, transparent, fixit-var(divider-bg, #d0d0d5), transparent),
    // Scroll margin top and Stack sticky top related
    scroll-mt: calc(#{$header-height} + #{$global-scroll-margin-top}),
    // Scrollbar related variables
    scrollbar-track-color: transparent,
    scrollbar-width: thin,
    scrollbar-width-legacy: 12px,
  ));
}

// Theme colors variables
@include set-theme-colors();

// Global colors variables
@include define-theme-vars((
  global-background-color: (light: $global-background-color, dark: $global-background-color-dark),
  global-font-color: (light: $global-font-color, dark: $global-font-color-dark),
  global-font-secondary-color: (light: $global-font-secondary-color, dark: $global-font-secondary-color-dark),
  global-border-color: (light: $global-border-color, dark: $global-border-color-dark),
  global-link-color: (light: $global-link-color, dark: $global-link-color-dark),
  global-link-hover-color: (light: $global-link-hover-color, dark: $global-link-hover-color-dark),
));

// hr style
@include define-theme-vars((
  hr-background-color: (light: darken($global-border-color, 5%), dark: lighten($global-border-color-dark, 5%)),
  hr-active-color: (light: lighten($single-link-hover-color, 4%), dark: darken($global-link-hover-color-dark, 4%)),
));

// Scrollbar colors
@include define-theme-vars((
  scrollbar-thumb-color: (light: $scrollbar-color, dark: $scrollbar-color),
  scrollbar-thumb-hover-color: (light: $scrollbar-hover-color, dark: $scrollbar-hover-color),
));

// Code related variables
@include define-theme-vars((
  code-inline-background-color: (light: rgba(175, 184, 193, 0.2), dark: rgba(99, 110, 123, 0.4)),
  code-block-background-color: (light: $code-background-color, dark: $code-background-color-dark),
  code-header-color: (light: $code-header-color, dark: $code-header-color-dark),
  code-header-background-color: (light: darken($code-background-color, 5%), dark: darken($code-background-color-dark, 5%)),
  code-highlight-color: (light: $code-highlight-color, dark: $code-highlight-color-dark),
  gist-meta-background-color: (light: darken($code-background-color, 5%), dark: darken($code-background-color-dark, 5%)),
));
