{{- define "title" -}}
  {{- T "offlineTitle" }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
  <div class="page" id="content-offline">
    <h1 class="offline-title animate__animated animate__pulse animate__faster">{{- T "offlineTitle" -}}</h1>
    <h2 class="offline-subtitle">
      <i class="fa-stack fa-xs">
        <i class="fa-solid fa-wifi fa-stack-1x"></i>
        <i class="fa-solid fa-ban fa-stack-2x"></i>
      </i>
      <span>ERROR_INTERNET_DISCONNECTED</span>
    </h2>
    <p class="error-text">{{- T "offlineText" -}}</p>
  </div>
{{- end -}}