{{- define "title" -}}
  {{- T "offlineTitle" }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
  <article class="page" id="content-offline">
    <div class="header">
      <h1 class="offline-title animate__animated animate__pulse animate__faster">{{- T "offlineTitle" -}}</h1>
      <p class="offline-subtitle animate__animated animate__headShake">
        <i class="fa-stack fa-xs">
          <i class="fa-solid fa-wifi fa-stack-1x"></i>
          <i class="fa-solid fa-ban fa-stack-2x"></i>
        </i>
        <span>ERROR_INTERNET_DISCONNECTED</span>
      </p>
    </div>
    <p class="error-text">{{- T "offlineText" -}}</p>
  </article>
{{- end -}}