// inline code
code {
  @extend %code;
}

// indented code
pre:not([data-processed]) {
  margin: 0;
  line-height: 1.45em;
  padding: 0.5rem 0.75rem;
  overflow: auto;
  font-size: $code-block-font-size;
  font-family: $code-font-family;
  background-color: var(#{$rootPrefix}code-block-background-color);
  @include border-radius($global-border-radius);
  @include tab-size(4);

  + pre:not([data-processed]) {
    margin-top: 0.5rem;
  }

  code {
    padding: 0;
    background-color: transparent;
    font-size: inherit;
    @include border-radius(0);
    @include max-content(min-width);

    [data-theme='dark'] & {
      background-color: transparent;
    }
  }

  img {
    min-height: 1em;
    max-height: 1.2em;
    vertical-align: text-bottom;
  }
}

.highlight,
.gist {
  font-size: $code-block-font-size;
  font-family: $code-font-family;

  .table-wrapper {
    #{$rootPrefix}scrollbar-thumb-color: initial;
    > table,
    > table thead,
    > table tr,
    > table td {
      margin: 0;
      padding: 0;
      border: none !important;
      white-space: nowrap;
    }
  }
}

// block fenced code
.highlight {
  margin: 0.5rem 0;
  position: relative;
  // compatibility for non-Chromium browsers (https://caniuse.com/css3-attr)
  #{$rootPrefix}max-shown-lines: attr(data-max number, 10);

  .table-wrapper {
    overflow: hidden;
    height: auto;
    @include transition(height 0.5s ease-out);
    @include border-radius($global-border-radius);
  }

  > .chroma {
    position: relative;

    &:is(pre):has(.ln) {
      padding: 0.5rem;
    }

    table {
      border-spacing: 0;
      width: auto;
      overflow: auto;
      display: block;
      background-color: var(#{$rootPrefix}code-block-background-color);

      td {
        vertical-align: top;
        padding: 0;
      }

      pre {
        padding-right: 0.25rem;
        outline-offset: -1px;
        @include border-radius(0);
      }

      /* lineNumbersInTable=false */
      .ln {
        min-width: 1.25rem;
      }

      // ========== lineNumbersInTable ========== //
      // line numbers
      .lntd:first-child {
        min-width: 1.6rem;
        text-align: right;
        position: sticky;
        left: 0;
      }
      // code content
      .lntd:last-child {
        width: 100%;

        pre {
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }
        code {
          width: 100%;
        }
      }
      // ========== lineNumbersInTable ========== //
    }
  }

  .code-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    font-family: $global-font-family;
    font-weight: bold;
    line-height: 1.4em;
    color: var(#{$rootPrefix}code-header-color);
    background-color: var(#{$rootPrefix}code-header-bg);
    @include border-radius($global-border-radius $global-border-radius 0 0);
    @include transition(border-radius 0s);

    + .table-wrapper {
      @include border-radius(0 0 $global-border-radius $global-border-radius);

      > pre.chroma {
        @include border-radius(0 0 $global-border-radius $global-border-radius);
      }
    }

    &:hover {
      cursor: pointer;
    }

    .ellipses-btn,
    .edit-btn,
    .copy-btn {
      @extend .print-d-none;
    }

    .code-title {
      width: 100%;
      padding: 0.4rem;

      .arrow {
        padding: 0 0.2rem;
        @include transition(transform 0.2s ease);
      }

      .title-inner {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(#{$rootPrefix}code-header-bg);
        padding-inline: 1em;
        max-width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include z-index(0, 1);
      }
    }

    .code-title::after {
      padding-left: 0.2rem;
      content: 'Code';
    }

    .ellipses-btn {
      display: none;
      padding: 0.4rem;
    }

    .edit-btn,
    .copy-btn {
      padding: 0.4rem;

      &:hover {
        color: $global-link-hover-color;

        [data-theme='dark'] & {
          color: $global-link-hover-color-dark;
        }
      }
    }

    @each $type, $text in $code-type-map {
      &.language-#{to-lower-case($type)} .code-title::after {
        content: $text;
      }
    }
  }

  &.is-collapsed {
    .code-header {
      #{$rootPrefix}code-header-bg: #{darken($code-background-color, 6%)};
      @include border-radius($global-border-radius);
      @include transition(border-radius 0.2s ease 0.2s);

      [data-theme='dark'] & {
        #{$rootPrefix}code-header-bg: #{darken($code-background-color-dark, 6%)};
      }

      + .table-wrapper {
        height: 0;
      }
    }

    .arrow {
      @include transform(rotate(-90deg));
    }

    .ellipses-btn {
      display: inline;
    }

    .edit-btn,
    .copy-btn,
    .code-expand-btn {
      display: none;
    }
  }

  .code-expand-btn {
    width: 100%;
    padding-block: 1rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    background: linear-gradient(
      180deg,
      rgba($code-background-color, 0) 0%,
      rgba($code-background-color, 0.9) 60%,
      $code-background-color 100%
    );

    [data-theme='dark'] & {
      background: linear-gradient(
        180deg,
        rgba($code-background-color-dark, 0) 0%,
        rgba($code-background-color-dark, 0.9) 60%,
        $code-background-color-dark 100%
      );
    }

    .fa-angles-down {
      opacity: 0;
      animation-name: fadeOutDown;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-delay: 0.3s;
      @include transition(transform 0.2s ease);
    }
  }
  &:has(.code-expand-btn):not(.is-expanded, .is-collapsed) {
    .table-wrapper {
      height: calc(1.45em * var(#{$rootPrefix}max-shown-lines) + 0.5rem);
    }
  }

  &.is-expanded {
    .code-expand-btn {
      background: transparent;

      .fa-angles-down {
        animation-name: fadeOutRotate;

        @keyframes fadeOutRotate {
          0% {
            opacity: 1;
            transform: rotate(180deg) translate3d(0, -100%, 0);
          }
          100% {
            opacity: 0;
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .code-copy-btn {
    @extend .diagram-copy-btn;
  }

  // &.is-wrap {
  //   code:last-of-type {
  //     text-wrap: wrap;
  //   }
  // }

  /* LineHighlight */
  .hl {
    display: block;
    background-color: var(#{$rootPrefix}code-highlight-color);
    box-shadow: -0.75rem 0 0 var(#{$rootPrefix}code-highlight-color), 0.5rem 0 0 var(#{$rootPrefix}code-highlight-color);
    #{$rootPrefix}code-highlight-color: #{$code-highlight-color};

    [data-theme='dark'] & {
      #{$rootPrefix}code-highlight-color: #{$code-highlight-color-dark};
    }
  }
  /* GenericUnderline */
  .gl {
    text-decoration: underline;
  }
  /* GenericStrong */
  .gs {
    font-weight: bold;
  }
  /* GenericEmph */
  .ge {
    font-style: italic;
  }
  /* lineNumbersInTable=false */
  .ln {
    padding-inline: 0.25rem 0.75rem;
    display: inline-block;
    text-align: right;
  }
  /* LineNumbers */
  .lnt,
  .ln {
    color: $global-font-secondary-color;
    @include user-select(none);

    [data-theme='dark'] & {
      color: $global-font-secondary-color-dark;
    }
  }

  // ========== Highlight Color ========== //

  /* Error */
  .err {
    font-style: italic;
    border-bottom: 1px dotted $code-error-color;
  }
  .language-diff {
    /* GenericDeleted */
    .gd {
      background-color: #ffebe9;

      [data-theme='dark'] & {
        background-color: #78191b;
      }
    }
    /* GenericInserted */
    .gi {
      background-color: #dafbe1;

      [data-theme='dark'] & {
        background-color: #1b4721;
      }
    }
    .gs {
      font-weight: normal;
      color: #953800;
      background-color: #ffd8b5;

      [data-theme='dark'] & {
        color: #ffddb0;
        background-color: #682d0f;
      }
    }
  }

  @each $class, $color in $code-highlight-color-map {
    .#{$class} {
      color: $color;
    }
  }

  [data-theme='dark'] & {
    @each $class, $color in $code-highlight-color-map-dark {
      .#{$class} {
        color: $color;
      }
    }
  }
  // ========== Highlight Color ========== //

  &[data-mode='mac'] {

    pre.chroma:last-of-type {
      padding-top: 30px;

      &::after {
        background: var(#{$rootPrefix}mac-red, #fc625d);
        box-shadow: 20px 0 var(#{$rootPrefix}mac-yellow, #fdbc40), 40px 0 var(#{$rootPrefix}mac-green, #35cd4b);
        left: 8px;
        top: 8px;
        position: absolute;
        border-radius: 50%;
        content: ' ';
        height: 12px;
        width: 12px;

        [data-theme='dark'] & {
          #{$rootPrefix}mac-red-dark: #ff5f56;
          #{$rootPrefix}mac-yellow-dark: #febc2e;
          #{$rootPrefix}mac-green-dark: #28c840;
        }
      }
    }
  }
}

// gist shortcode
.gist {
  .gist-file,
  .gist-data,
  .gist-meta {
    border: none;
  }

  .gist-data {
    background-color: transparent;
  }

  .gist-meta {
    padding: 0.4rem 0.8rem;
    @include link(false, false);
    @include border-radius(0 0 $global-border-radius $global-border-radius);
    background-color: var(#{$rootPrefix}gist-meta-background-color);
  }

  .table-wrapper {
    padding-block: 0.5rem;
    background-color: var(#{$rootPrefix}code-block-background-color);
    @include border-radius($global-border-radius $global-border-radius 0 0);

    .highlight {
      background-color: transparent;

      td.blob-num {
        position: sticky;
        left: 0;
        background-color: var(#{$rootPrefix}code-block-background-color);
        @include z-index(0, 1);
      }
    }
  }

  [data-theme='dark'] & {
    @import './github-dark-dimmed';
  }
}
