.collection-card {
  font-size: 0.875rem;
  background-color: darken($global-background-color, 3%);
  margin-top: 0.5rem;
  padding: 1rem 1.25rem;
  position: relative;
  @include border-radius($global-border-radius * 1.5);
  @include user-select(none);

  [data-theme='dark'] & {
    background-color: lighten($global-background-color-dark, 3%);
  }

  &:has(.collection-nav-item:nth-child(2))::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0.75rem;
    width: 1px;
    height: 2rem;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.03),
      rgba(0, 0, 0, 0.05) 50%,
      rgba(0, 0, 0, 0.03) 100%
    );

    [data-theme='dark'] & {
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.03),
        rgba(255, 255, 255, 0.05) 50%,
        rgba(255, 255, 255, 0.03) 100%
      );
    }
  }

  .collection-title {
    @include link(false, false);
  }

  .collection-nav {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    &:not(:empty) {
      margin-top: 0.5rem;
    }

    .collection-nav-item {
      flex-grow: 1;
      max-width: 50%;
      font-weight: 500;
      display: flex;
      align-items: center;
      @include transition(all 0.3s ease-out);

      &:only-child {
        max-width: 100%;
      }

      i {
        flex-shrink: 0;
      }

      span {
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &[rel='next'] {
        text-align: right;
      }

      &[rel='prev']:hover {
        @include transform(translateX(-4px));
      }

      &[rel='next']:hover {
        @include transform(translateX(4px));
      }
    }
  }
}
