// Diagram container
.diagram-container {
  position: relative;
  margin-block: 0.5rem;
}

// Diagram copy button styles
.diagram-copy-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  line-height: 1;
  padding: 0.5rem;
  user-select: none;
  border: 1px solid;
  border-radius: 6px;
  color: var(#{$rootPrefix}dcb-color, #25292e);
  border-color: var(#{$rootPrefix}dcb-border-color, #d1d9e0);
  background-color: var(#{$rootPrefix}dcb-background-color, #f6f8fa);
  box-shadow: var(#{$rootPrefix}dcb-box-shadow, 0px 1px 0px 0px #1f23280a);
  transition-duration: 0.1s;
  transition-property: color, background-color, box-shadow, border-color;
  @include z-index(0, 1);
  @extend .print-d-none;

  [data-theme='dark'] & {
    #{$rootPrefix}dcb-color: #d1d7e0;
    #{$rootPrefix}dcb-border-color: #3d444d;
    #{$rootPrefix}dcb-background-color: #2a313c;
    #{$rootPrefix}dcb-box-shadow: 0px 0px 0px 0px #000000;
  }

  &:hover {
    #{$rootPrefix}dcb-border-color: #d1d9e0;
    #{$rootPrefix}dcb-background-color: #eff2f5;

    [data-theme='dark'] & {
      #{$rootPrefix}dcb-border-color: #3d444d;
      #{$rootPrefix}dcb-background-color: #2f3742;
    }
  }

  &[data-copied] {
    .fa-clone {
      --fa: "\f00c";
      font-weight: 900;
      color: var(#{$rootPrefix}global-link-hover-color);
    }
  }
}
