// Loading Mixin for before/after pseudo element
@mixin loading {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1rem);
  background-position: center;
  background-repeat: no-repeat;
  background-image: fixit-var(loading-img);
  background-size: 60px;
  @include z-index(loading);
}
