{{- define "title" -}}
  {{- .Title }} - {{ T .Data.Singular | default .Data.Singular -}}
  {{- if .Site.Params.with_site_title }} {{ .Site.Params.title_delimiter }} {{ .Site.Title }}{{- end -}}
{{- end -}}

{{- define "content" -}}
  {{- $term := partial "function/pages-by-author.html" (dict "Name" .Data.Term) -}}
  <div class="page archive author-archive">
    {{- partial "section/author-header.html" (dict "Page" . "Pages" $term.Pages "Author" $term.Author) -}}
    {{- partial "section/archive-meta.html" (dict "Page" . "Pages" $term.Pages) -}}
    {{- partial "section/archive-list.html" (dict
      "Page" .
      "Pages" $term.Pages
      "Paginate" (.Site.Params.list.paginate | default .Site.Params.paginate)
      "DateFormat" (.Site.Params.list.date_format | default "01-02")
    ) -}}
  </div>
{{- end -}}
