{{- partial "init/index.html" . -}}

<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/WebPage" lang="{{ .Site.LanguageCode }}">
  <head>
    {{ if .IsHome | and (ne .Site.Params.disableThemeInject true) }}
      <meta name="theme" content='FixIt {{ .Scratch.Get "version" }}'>
    {{ end }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
    <meta name="robots" content="noodp" />
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{- partial "head/meta.html" . -}}
    {{- partial "head/link.html" . -}}
    {{- partial "head/seo.html" . -}}
  </head>
  <body data-header-desktop="{{ .Site.Params.header.desktopMode }}" data-header-mobile="{{ .Site.Params.header.mobileMode }}">
    {{- /* Check theme isDark before body rendering */ -}}
    {{- $theme := .Site.Params.defaulttheme -}}
    <script>(window.localStorage?.getItem('theme') ? localStorage.getItem('theme') === 'dark' : ('{{ $theme }}' === 'auto' ? window.matchMedia('(prefers-color-scheme: dark)').matches : '{{ $theme }}' === 'dark')) && document.body.setAttribute('data-theme', 'dark');</script>

    {{- /* Body wrapper */ -}}
    <div class="wrapper" data-page-style="{{ (.Scratch.Get `params`).pageStyle | default `normal` }}">
      {{- partial "header.html" . -}}
      {{- partial "breadcrumb.html" . -}}
      {{- $toc := .Scratch.Get "toc" -}}
      <main class="container{{ if (eq $toc.enable true) | and (eq $toc.position `left`) }} container-reverse{{ end }}">
        {{- block "content" . }}{{ end -}}
      </main>
      {{- partial "footer.html" . -}}
    </div>

    {{- /* Theme widgets */ -}}
    {{- partial "widgets.html" . -}}

    {{- /* Load JavaScript scripts and CSS */ -}}
    {{- partial "assets.html" . -}}
  </body>
</html>
