.cc-window.cc-banner {
  .cc-btn {
    color: var(#{$rootPrefix}global-font-color);
    background-color: var(#{$rootPrefix}global-background-color);

    &:hover,
    &:focus {
      background-color: #ccc;

      [data-theme='dark'] & {
        background-color: #444;
      }
    }
  }
}
