.reading-progress-bar {
  height: var(--progress-h, 2px);
  width: var(--progress, 0);
  background-color: var(--bg-progress, fixit-var(success));
  position: fixed;
  @include z-index(2);
  @extend .print-d-none;
  
  [data-theme="dark"] & {
    background-color: var(--bg-progress-dark, #{$global-font-color-dark});
  }
}
