.breadcrumb-container {
  padding-inline: 1rem;
  font-size: 0.75rem;
  background-color: fixit-var(global-background-color);
  display: flex;
  @include z-index(sticky);

  &:has(~ main[data-reverse]) {
    flex-direction: row-reverse;
  }

  &::before,
  &::after {
    content: '';
    flex: 1;
    padding-inline: 0.5rem;

    @include media('sm', 'down') {
      display: none;
    }
  }

  &.sticky {
    position: sticky;
    top: 0px;
    transition: top 0.5s ease;

    @include media('sm', 'up') {
      [data-header-desktop='sticky'] &,
      [data-header-desktop='auto'] & {
        top: fixit-var(header-height);
      }
      [data-header-desktop='auto']:has(#header-desktop.header__fadeOutUp) & {
        top: 0px;
      }
    }

    @include media('xs') {
      [data-header-mobile='sticky'] &,
      [data-header-mobile='auto'] & {
        top: fixit-var(header-height);
      }
      [data-header-mobile='auto']:has(#header-mobile.header__fadeOutUp) & {
        top: 0px;
      }
    }

    @include media('reduce-motion') {
      transition: none;
    }
  }

  .breadcrumb {
    display: flex;
    flex-wrap: nowrap;
    padding: 0.5rem;
    margin: 0 auto;
    list-style: none;
    box-shadow: inset 0 -1px 0 fixit-var(global-border-color);
    overflow-x: auto;
    overflow-y: hidden;
    @extend %page-style;

    .breadcrumb-item {
      display: flex;
      flex-shrink: 0;

      + .breadcrumb-item::before {
        content: attr(data-separator);
        display: inline-block;
        padding-inline: 0.5rem;
        color: fixit-var(global-border-color);
      }

      &.active {
        color: fixit-var(global-font-secondary-color);
      }
    }
  }

  @include media('print') {
    display: none !important;
  }
}
