$header-box-shadow: 0 0 1.5rem 0 light-dark(rgba(0, 0, 0, 0.125), rgba(255, 255, 255, 0.125));

header {
  width: 100%;
  transition: box-shadow 0.3s ease;
  background-color: fixit-var(header-background-color);
  @include z-index(fixed);

  &:hover {
    box-shadow: $header-box-shadow;
  }

  @include scroll-state-query('scroller scroll-state(scrollable: top)') {
    box-shadow: $header-box-shadow;
  }

  &.blur {
    @include scroll-state-query('scroller scroll-state(scrollable: top)', '&') {
      background-color: transparent;
      backdrop-filter: saturate(1.2) blur(10px);
      background-size: 4px 4px;
      background-image: radial-gradient(transparent 1px, fixit-var(header-background-color) 1px);
    }
  }

  &.animate__animated.header__fadeInDown {
    animation-name: #{$prefix}header-fade-in-down;
  }

  &.animate__animated.header__fadeOutUp {
    animation-name: #{$prefix}header-fade-out-up;
  }

  @include media('print') {
    display: none !important;
  }
}

@keyframes #{$prefix}header-fade-in-down {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes #{$prefix}header-fade-out-up {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.header-title {
  font-size: fixit-var(header-title-font-size);
  font-family: fixit-var(header-title-font-family);
  font-weight: bold;
  margin-right: 0.5rem;
  min-width: 10%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 10;

  .logo {
    min-height: 1.5em;
    height: 1.5em;
    width: auto;
    vertical-align: top;
    transform: translateY(calc(#{fixit-var(header-height)} / 2 - 50%));
  }

  .header-title-text {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .header-subtitle {
    margin-left: 0.25rem;
    font-size: 0.6em;
  }
}

.menu {
  margin: 0;
  padding: 0;

  .menu-item-divider {
    list-style: none;
    margin: 0.25rem 0.5rem;
    height: 1px;
    background-color: fixit-var(menu-border-color);
  }

  .menu-item {
    list-style: none;

    .dropdown-icon {
      margin-left: 0.25rem;
      font-size: .875em;
      color: fixit-var(global-font-color);

      &.open::before {
        content: "\f078";
      }
    }

    &.active {
      >.menu-link,
      >.nested-item>.menu-link {
        font-weight: bold;
        color: fixit-var(menu-active-color);
      }
    }

    .menu-link[href="javascript:void(0);"] {
      color: inherit;
    }

    .menu-link i {
      transform: perspective(1rem);
      transition: transform 0.4s ease;
    }

    .menu-link:hover i {
      transform: perspective(1rem) translateZ(0.2rem);
    }
  }
}

.menu .search {
  position: relative;

  input {
    color: transparent;
    box-sizing: border-box;
    height: 2.5rem;
    width: 1.25rem;
    border: none;
    outline: none;
    background-color: transparent;
    vertical-align: baseline !important;
    transition: width 0.3s ease;
    @include border-radius(0.5rem);
  }

  @include placeholder(transparent);

  .search-button {
    margin: 0;
    position: absolute;
    left: auto;
    right: 1rem;
  }

  .search-toggle {
    left: 0.5rem;
    right: auto;

    #header-desktop.open & {
      left: 1rem;
    }
  }

  .search-loading {
    display: none;
  }

  .search-clear {
    display: none;
  }

  .open &,
  &.mobile {
    input {
      color: fixit-var(global-font-color);
      background-color: fixit-var(search-background-color);
      padding: 0 2rem 0 2rem;
    }

    .search-button {
      color: fixit-var(global-font-tertiary-color);
    }

    .search-clear:hover {
      color: #ff6b6b;
    }

    .search-toggle:hover {
      cursor: default;
    }

    @include placeholder;
  }
}

.theme-switch {
  i {
    display: inline-block;
    transform: rotate(225deg) scale(1);
    transform-origin: center;
    @include theme-switch-mode('auto');
    @include theme-switch-mode('light', '\f185');
    @include theme-switch-mode('dark', '\f186');

    @include media('reduce-motion') {
      animation: none !important;
    }
  }

  @include theme-switch-keyframes('auto', 180deg, 0.9, 0.7, 60%, 245deg, 1.08);
  @include theme-switch-keyframes('light', 140deg, 0.82, 0.55, 55%, 250deg, 1.12);
  @include theme-switch-keyframes('dark', 310deg, 0.86, 0.55, 55%, 205deg, 1.08);
}

#header-desktop {
  display: block;
  position: sticky;
  top: 0;
  height: fixit-var(header-height);
  line-height: fixit-var(header-height);
  box-sizing: border-box;

  [data-header-desktop='normal'] & {
    position: static;
  }

  nav {
    overflow: hidden;
    white-space: nowrap;
  }

  .header-wrapper {
    // use css native function to calculate max value
    padding: 0 2rem 0 MAX(10vh, fixit-var(header-height));
    height: 100%;

    &[data-github-corner='right'] {
      padding-right: fixit-var(header-height);
    }

    .header-title {
      height: 100%;
    }

    .menu {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      > .menu-item {
        &:hover .sub-menu {
          display: block;
          transform: translateX(-0.5rem);
        }
        &.language-switch:hover .sub-menu {
          transform: translateX(calc(1.75rem - 100%));
        }
      }

      .menu-item {
        padding: 0 0.5rem;

        &.delimiter {
          width: 0;
          margin: 18.5px 0.5rem;
          padding: 0;
          border-left: 1.5px solid fixit-var(global-border-color);
        }
      }

      .sub-menu {
        position: absolute;
        margin: 0;
        padding: 0.25rem 0;
        display: none;
        top: calc(#{fixit-var(header-height)} - 0.75rem);
        border: 1px solid fixit-var(menu-border-color);
        background-color: fixit-var(header-background-color);
        max-height: 60vh;
        overflow-y: auto;
        overscroll-behavior: contain;
        transition: box-shadow 0.3s ease;
        @include border-radius;
        box-shadow: 0 0 1.5rem 0 light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));

        .menu-item {
          height: fixit-var(submenu-height);
          line-height: fixit-var(submenu-height);
          max-width: 15rem;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow-x: hidden;
        }
      }
    }

    @include media('md', 'down') {
      padding-inline-end: 1rem;
    }

    @include media('sm', 'down') {
      padding-inline-start: 1rem;
    }
  }

  &.open .header-wrapper .menu .menu-item.search {
    input {
      width: 24rem;
    }
  }

  @include media('xs') {
    display: none;
  }
}

#header-mobile {
  position: sticky;
  top: 0;
  min-height: fixit-var(header-height);
  line-height: fixit-var(header-height);

  [data-header-mobile='normal'] & {
    position: static;
  }

  .header-container {
    padding: 0;
    margin: 0;

    .header-wrapper {
      padding: 0 1rem;
      font-size: 1.125rem;
      transition: margin-top 0.3s ease;

      .header-title {
        max-width: 80%;
      }

      .theme-switch {
        line-height: 1.25em;
      }

      .menu-toggle {
        span {
          display: block;
          background-color: fixit-var(global-font-color);
          width: 20px;
          height: 2px;
          @include border-radius(full);
          transition: all 0.3s ease-in-out;
        }

        span:not(:last-child) {
          margin-bottom: 6px;
        }

        &.active {
          span:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
          }

          span:nth-child(2) {
            opacity: 0;
          }

          span:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
          }
        }
      }
    }

    .menu {
      background-color: fixit-var(header-background-color);
      border-top: 2px solid fixit-var(global-border-color-light);
      display: none;
      overflow-y: auto;
      overscroll-behavior: contain;
      max-height: 70vh;
      @include scrollbar-width(none, 0);
      box-shadow: 0 0.125rem 0.25rem light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));

      .search-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 0.5rem 1rem;
        line-height: 2.5rem;
        position: sticky;
        top: 0;
        background-color: fixit-var(header-background-color);
        @include z-index(sticky);
      }

      .search {
        flex-grow: 10;

        .algolia-autocomplete,
        input {
          width: 100%;
        }
      }

      .search-loading,
      .search-clear {
        right:  0.5rem;
      }

      .search-button {
        top: 0;
      }

      .search-cancel {
        display: none;
        margin-left: 0.75rem;
      }

      .menu-item {
        display: block;
        position: relative;
        line-height: 2.5rem;
        padding: 0 1rem;

        &:not(.menu-system):hover {
          background-color: light-dark(#f2f2f3, #535355);
        }

        .menu-link {
          display: block;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow-x: hidden;
          flex: 4;
        }

        & .nested-item {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .menu-link {
            max-width: 80%;
          }
        }
      }

      .menu-system {
        display: flex;
        justify-content: center;
        gap: 0.25rem;
        position: sticky;
        bottom: 0;
        line-height: 2.5rem;
        padding: 0 1rem;
        background-color: fixit-var(header-background-color);

        .menu-system-item {
          padding-inline: 0.5rem;
        }

        .language-switch {
          position: relative;

          .language-select {
            position: absolute;
            opacity: 0;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
          }
        }
      }

      .sub-menu {
        padding-left: 0;
        display: none;

        &.open {
          display: block;
        }

        .menu-item:hover {
          background-color: light-dark(#e7e7ea, #5d5d5f);
        }
      }

      &.active {
        display: block;
      }
    }
  }

  &.open {
    .header-wrapper {
      margin-top: calc(#{fixit-var(header-height)} * -1);
    }

    .menu {
      padding-top: 0;
      border-top: none;

      .menu-item {
        display: none;
      }

      .search-cancel {
        display: inline;
      }
    }
  }

  @include media('sm', 'up') {
    display: none;
  }
}

.search-dropdown {
  position: fixed;
  top: fixit-var(header-height);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  @include z-index(fixed);
  box-shadow: 0 0.125rem 0.25rem light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));

  &.desktop {
    right: 2rem;
    width: 30rem;

    @include media('md', 'down') {
      right: 1rem;
    }
  }

  &.mobile {
    right: 0;
    width: 100%;
  }

  .dropdown-menu {
    right: 0 !important;
    background-color: fixit-var(global-background-color);

    .suggestions {
      overflow-y: auto;
      overscroll-behavior: contain;
      // 40px is the height of the search-footer
      max-height: calc(100dvh - #{fixit-var(header-height)} - 40px);

      .suggestion {
        padding: 0.75rem 1rem;

        > :first-child {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 0.25rem;
          margin-bottom: 0.5rem;

          > a {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 1rem;
            font-weight: bold;
          }

          .suggestion-date {
            font-size: 0.875rem;
            flex-shrink: 0;
            color: fixit-var(global-font-tertiary-color);
          }
        }

        .suggestion-context {
          display: -webkit-box;
          line-height: 1.25rem;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
          color: fixit-var(global-font-secondary-color);
          @include overflow-wrap(break-word);
        }

        em {
          font-style: normal;
          background-color: fixit-var(selection-color);
        }

        &.cursor {
          background-color: fixit-var(code-block-background-color);
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    .search-empty {
      padding: 1rem;
      text-align: center;

      .search-query {
        @include bold-dark;
      }
    }

    .search-footer {
      padding: 0.5rem 1rem;
      font-size: 0.875rem;
      text-align: right;
      color: fixit-var(global-font-secondary-color);
      @include link(false, false);
    }
  }
}
