.mermaid {
  position: relative;
  overflow: hidden !important;

  &[data-processed] {
    text-align: center;
  }

  &:not([data-processed])::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0.5rem);
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(#{$rootPrefix}loading-img);
    background-size: 60px;
  }

  svg {
    max-width: 100%;
    height: auto; 
  }
}
