// ==============================
// Custom style
// 自定义样式
// ==============================
// Custom font

@import url("https://fonts.loli.net/css2?family=Noto+Serif+SC:wght@200;400;500;600&display=swap");
@import url("https://fonts.loli.net/css2?family=Noto+Sans+SC:wght@100;200;300;400;500&display=swap");
// font-family: 'Inconsolata', monospace;
@import url("https://fonts.loli.net/css2?family=Inconsolata:wght@200;400&display=swap");

.single-title {
  font-family: $header-title-font-family;
  font-weight: bold;
}

.typeit {
  font-family: $header-title-font-family;
}

.archive-item {
  font-family: $header-title-font-family;
}

.single-title{
  font-family: $header-title-font-family;
  font-weight: bold;
}
.group-title {
  font-family: $header-title-font-family;
  font-weight: bold;
}

.footer {
  font-family: $header-title-font-family;
  font-weight: 200;
}

.menu-inner {
  font-family: $header-title-font-family;
  font-weight: bold;
}

.header-title {
  font-family: $header-title-font-family;
  font-weight: bold;
}

.single {
  .content {
    >h1, >h2, >h3 {
      color: #212121;
    }
  }
}