footer {
  height: auto;
  width: 100%;
  text-align: center;
  line-height: 1.25rem;
  padding: 1rem 0;

  .footer-container {
    font-size: .875rem;

    .footer-line {
      width: 100%;

      .footer-divider::before {
        content: '|';
        margin-left: .25rem;
        margin-right: .25rem;
      }

    }
  }

  @include blur;
}
