.page {
  position: relative;
  @extend %page-style;

  .content {
    [id] {
      scroll-margin-top: fixit-var(scroll-mt);
    }
  }

  @include blur;
}

@import '_single';
@import '_special';
@import '_archive';
@import 'home';
@import '404';
@import 'offline';
