.page {
  position: relative;
  @extend %page-style;

  .content {
    [id] {
      scroll-margin-top: fixit-var(scroll-mt);
    }
  }

  @include blur;

  @include media('print') {
    width: 100% !important;
    padding-top: 0 !important;
  }
}

@import '_single';
@import '_special';
@import '_archive';
@import 'home';
@import '404';
@import 'offline';
@import "media";
@import "patch";
