// Style of layout search
// TODO Adapting to dark mode, maybe use css variables

.special.search {
  // Google CSE
  .gcse-searchbox:empty,
  .gcse-searchresults:empty {
    display: none;
  }
  
  // Bing CSE (Unsupported)
}
