// Style of layout search
.special.search {
  // Google CSE
  .gcse-searchbox:empty,
  .gcse-searchresults:empty {
    display: none;
  }

  // search box
  #___gcse_0 {
    margin-bottom: 0.5rem;

    form.gsc-search-box {
      max-width: 100%;
      margin: 0;

      .gsc-input-box {
        [data-theme=dark] & {
          border-color: #c2c2c2;
        }
        input {
          background-color: #fff;
        }
      }

    }
  }

  #___gcse_0,
  #___gcse_1 {
    [data-theme=dark] & {
      filter: invert(1) hue-rotate(0.5turn);
    }
  }
  #___gcse_1 img {
    [data-theme=dark] & {
      filter: invert(1) hue-rotate(0.5turn) opacity(0.75);
    }
  }
  
  // Bing CSE (Unsupported)
}
