// Resolve style conflicts between third-party plugins
@use "variables" as *;

@keyframes #{$prefix}pulse {
  from {
    scale: 1 1 1;
  }

  50% {
    scale: 1.05 1.05 1.05;
  }

  to {
    scale: 1 1 1;
  }
}

.animate__pulse {
  -webkit-animation-name: #{$prefix}pulse !important;
  animation-name: #{$prefix}pulse !important;
}

// fix ZenUML intersection height error
#zenuml-intersection-detector-container {
  display: none;
}

// lightgallery
.lg-toolbar .lg-download:after {
  color: #999;
}
