{{- /*
  Renders a file tree structure starting from the specified path
  @param {string} [path="/"] - The path relative to the root of your project directory.
  @param {int} [level=1] - The expand level of the tree. Set to -1/0 to expand/collapse all levels.
  @param {string} [ignoreList=""] - List of file or folder names to ignore, separated by commas.
  @param {bool} [folderSlash=false] - Whether to append a trailing "/" to folder names.
  @example {{< file-tree "content" 2 >}}
  [todo] To link files, add a `linkPrefix` param for the URL prefix, PRs welcome.
  [todo] 支持自定义目录树，而不是实时扫描目录结构生成
*/ -}}

{{- $config := dict | merge .Page.Params.filetree | merge .Site.Params.filetree -}}
{{- $root := cond .IsNamedParams (.Get "path") (.Get 0) | default "/" -}}
{{- $level := cond .IsNamedParams (.Get "level") (.Get 1) | default $config.level | default 1 -}}
{{- $ignoreList := cond .IsNamedParams (.Get "ignoreList") nil | default $config.ignorelist | default "" -}}
{{- $folderSlash := cond .IsNamedParams (.Get "folderSlash") nil | default $config.folderslash | default false -}}

{{- /* Process ignoreList into a slice */ -}}
{{- $ignoreList = split $ignoreList "," -}}
{{- $ignoreList = apply $ignoreList "trim" "." " " -}}

{{- /* Check if the root path exists */ -}}
{{- $rootIsExists := false -}}
{{- $rootLabel := "" -}}
{{- if fileExists $root -}}
  {{- $rootIsExists = true -}}
  {{- $f := os.Stat $root -}}
  {{- /* Attempt to resolve the path relative to the contentDir */ -}}
  {{- with try (readDir $root) -}}
    {{- with .Err }}
      {{- $root = path.Clean (path.Join "content" $root) -}}
    {{- end -}}
  {{- end -}}
  {{- /* Determine the root name for display */ -}}
  {{- $rootLabel = path.Clean $root -}}
  {{- if (eq $rootLabel "/") | or (eq $rootLabel ".") -}}
    {{- $rootLabel = $f.Name -}}
  {{- end -}}
  {{- $rootLabel = cond $folderSlash (add $rootLabel "/") $rootLabel -}}
{{- else -}}
  {{- warnidf "warning-file-tree" "File tree root path does not exist: %s.See %s %s" $root .Name .Position -}}
{{- end -}}

{{- /* Start rendering the file tree */ -}}
{{- if $rootIsExists -}}
  <div class="file-tree-wrapper">
    <ul class="file-tree" data-level="0">
      <li class="file-tree-item file-tree-folder{{ if eq (int $level) 0 }} is-collapsed{{ end }}">
        <span class="file-tree-label file-tree-toggle">
          {{- dict "Class" "file-tree-icon fa-regular fa-folder-open" | partial "plugin/icon.html" -}}
          <span class="file-tree-label__inner">{{ $rootLabel }}</span>
        </span>
        {{- $options := dict
          "path" $root
          "depth" 1
          "level" $level
          "ignoreList" $ignoreList
          "folderSlash" $folderSlash
        -}}
        {{- template "render-tree" $options -}}
      </li>
    </ul>
  </div>
{{- end -}}

{{- /*
  Recursive function to render tree
  @param {string} path - Current directory path
  @param {int} depth - Current depth level
  @param {int} level - Collapse level
  @param {array} ignoreList - List of file or folder names to ignore
  @param {bool} folderSlash - Whether to append a trailing "/" to folder names
*/ -}}
{{- define "render-tree" -}}
  {{- $path := .path -}}
  {{- $depth := .depth -}}
  {{- $level := .level -}}
  {{- $folderSlash := .folderSlash -}}
  {{- $ignoreList := slice ".DS_Store" "Thumbs.db" -}}
  {{- if .ignoreList -}}
    {{- $ignoreList = union $ignoreList .ignoreList -}}
  {{- end -}}
  {{- $items := readDir $path -}}

  <ul class="file-tree" data-level="{{ $depth }}">
    {{- range $items -}}
      {{- if in $ignoreList .Name -}}
        {{- continue -}}
      {{- end -}}
      {{- $fullPath := printf "%s/%s" $path .Name -}}
      {{- $isCollapsed := (ge $depth $level) | and (ge $level 0) -}}
      {{- $label := cond (and .IsDir $folderSlash) (add .Name "/") .Name -}}
      
      <li class="file-tree-item{{ if .IsDir }} file-tree-folder{{ end }}{{ if and .IsDir $isCollapsed }} is-collapsed{{ end }}">
        <span class="file-tree-label{{ if .IsDir }} file-tree-toggle{{ end }}">
          {{- $icon := "file-tree-icon fa-regular " -}}
          {{- if .IsDir -}}
            {{- $icon = add $icon "fa-folder-open" -}}
          {{- else -}}
            {{- $icon = add $icon "fa-file-lines" -}}
          {{- end -}}
          {{- dict "Class" $icon | partial "plugin/icon.html" -}}
          <span class="file-tree-label__inner">{{ $label }}</span>
        </span>
        
        {{- if .IsDir -}}
          {{- $options := dict
            "path" $fullPath
            "depth" (add $depth 1)
            "level" $level
            "ignoreList" $ignoreList
            "folderSlash" $folderSlash
          -}}
          {{- template "render-tree" $options -}}
        {{- end -}}
      </li>
    {{- end -}}
  </ul>
{{- end -}}
