{{- $password := cond .IsNamedParams (.Get "password") (.Get 0) | default "" -}}
{{- $message := cond .IsNamedParams (.Get "message") (.Get 1) | default (T "single.encryptedMessage") -}}

{{- if $password -}}
  {{- /* Content */ -}}
  {{- $content := .Inner | .Page.RenderString -}}
  {{- /* Content Encryption */ -}}
  {{- dict "Content" $content "Password" $password "Message" $message "IsPartial" true "Page" .Page | partial "plugin/fixit-encryptor.html" -}}
{{- else -}}
  {{- .Inner -}}
{{- end -}}
