.cc-window.cc-banner {
  .cc-btn {
    color: fixit-var(global-font-color);
    background-color: fixit-var(global-background-color);

    &:hover,
    &:focus {
      background-color: light-dark(#ccc, #444);
    }
  }
}
