.details {
  > .details-summary {
    @include border-radius;
    @include transition(border-radius 0.2s ease 0.2s);

    &:hover {
      cursor: pointer;
    }

    i.details-icon {
      color: fixit-var(global-font-secondary-color);
      @include transition(all 0.2s ease);

      &:hover {
        color: fixit-var(global-font-color);
      }
    }
  }

  > .details-content {
    height: 0;
    overflow-y: hidden;
    @include transition(height 0.5s ease-out);
  }

  &.open {
    > .details-summary {
      @include border-radius(top);
      @include transition(border-radius 0s);

      i.details-icon {
        @include transform(rotate(90deg));
      }
    }

    > .details-content {
      height: auto;
      @include border-radius(bottom);
    }
  }

  &.disabled {
    > .details-summary {
      cursor: default;
    }
  }
}
