@keyframes octocat-wave {
  0%,
  100% {
    @include transform(rotate(0));
  }
  20%,
  60% {
    @include transform(rotate(-25deg));
  }
  40%,
  80% {
    @include transform(rotate(10deg));
  }
}

.github-corner {
  position: fixed;
  top: 0;
  @include z-index(fixed);
  @extend .print-d-none;

  :hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
  svg {
    width: fixit-var(header-height);
    height: fixit-var(header-height);
    border: 0;
    color: fixit-var(github-corner-color);
    fill: fixit-var(github-corner-fill);
  }
  &.left {
    left: 0;

    svg {
      @include transform(scale(-1, 1));
    }
  }
  &.right {
    right: 0;
  }
}
