.reading-progress-bar {
  height: fi-var(progress-h, 2px);
  width: fi-var(progress, 0);
  background-color: light-dark(
    fi-var(bg-progress, fi-var(success)),
    fi-var(bg-progress-dark, fi-var(global-font-color))
  );
  position: fixed;
  @include z-index(fixed);

  @include media('print') {
    display: none !important;
  }
}
