.reading-progress-bar {
  height: fixit-var(progress-h, 2px);
  width: fixit-var(progress, 0);
  background-color: fixit-var(bg-progress, fixit-var(success));
  position: fixed;
  @include z-index(2);
  @extend .print-d-none;
  
  [data-theme=dark] & {
    background-color: fixit-var(bg-progress-dark, fixit-var(global-font-color));
  }
}
