{{- define "title" -}}
  {{- T "offlineTitle" -}}
  {{- if .Site.Params.withSiteTitle }} {{ .Site.Params.titleDelimiter }} {{ .Site.Title }}{{- end -}}
{{- end -}}

{{- define "content" -}}
  <article class="page self-stretch flex flex-col items-center justify-center text-center" id="content-offline">
    <p class="animate__animated animate__headShake">
      <i class="fa-stack fa-4x opacity-50" aria-hidden="true">
        <i class="fa-solid fa-wifi fa-stack-1x"></i>
        <i class="fa-solid fa-ban fa-stack-2x text-secondary"></i>
      </i>
    </p>
    <h1 class="offline-title text-5xl text-shadow-md animate__animated animate__pulse animate__infinite">{{- T "offlineTitle" -}}</h1>
    <p class="offline-text text-lg">{{- T "offlineText" -}}</p>
  </article>
{{- end -}}
