{{- define "title" -}}
  {{- .Params.Title | default (T "archives") -}}
  {{- if .Site.Params.with_site_title }} {{ .Site.Params.title_delimiter }} {{ .Site.Title }}{{- end -}}
{{- end -}}

{{- define "content" -}}
  {{- /* All Posts */ -}}
  {{- $pages := .Site.Store.Get "mainSectionPages" -}}
  <div class="page archive">
    {{- partial "section/archive-header.html" (dict
      "Pages" $pages
      "Title" (.Params.Title | default (T "archives"))
      "Icon" "fa-solid fa-box-archive"
    ) -}}
    {{- partial "section/archive-meta.html" (dict "Page" . "Pages" $pages) -}}
    {{- partial "section/archive-list.html" (dict
      "Page" .
      "Pages" $pages
      "Paginate" (.Site.Params.archives.paginate | default .Site.Params.paginate)
      "DateFormat" (.Site.Params.archives.date_format | default "01-02")
    ) -}}
  </div>
{{- end -}}
