{{- define "title" -}}
  {{- .Site.Title -}}
  {{- if .Site.Params.indexWithSubtitle | and .Site.Params.header.subtitle.name -}}
    {{- printf " - %v" .Site.Params.header.subtitle.name -}}
  {{- end -}}
{{- end -}}

{{- define "content" -}}
  {{- $params := partial "function/params.html" -}}
  {{- $profile := .Site.Params.home.profile -}}
  {{- $posts := .Site.Params.home.posts -}}

  <div class="page home{{ if ne $posts.enable false }} posts{{ end }}">
    {{- /* Profile */ -}}
    {{- if ne $profile.enable false -}}
      {{- partial "home/profile.html" . -}}
    {{- end -}}

    {{- /* Content */ -}}
    {{- if .Content -}}
      <div class="single">
        <div class="content" id="content">
          {{- dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
        </div>
      </div>
    {{- end -}}

    {{- /* Paginate */ -}}
    {{- if ne $posts.enable false -}}
      {{- $pages := .Site.Store.Get "mainSectionPages" -}}
      {{- if .Site.Params.page.hiddenFromHomePage -}}
        {{- $pages = where $pages "Params.hiddenfromhomepage" false -}}
      {{- else -}}
        {{- $pages = where $pages "Params.hiddenfromhomepage" "!=" true -}}
      {{- end -}}
      {{- with $posts.paginate | default .Site.Params.paginate -}}
        {{- $pages = $.Paginate $pages . -}}
      {{- else -}}
        {{- $pages = .Paginate $pages -}}
      {{- end -}}
      {{- range $pages.Pages -}}
        {{- .Render "summary" -}}
      {{- end -}}
      {{- partial "paginator.html" . -}}
    {{- end -}}
  </div>
{{- end -}}
