{{- define "title" -}}
  {{- T "offlineTitle" -}}
  {{- if .Site.Params.withSiteTitle }} {{ .Site.Params.titleDelimiter }} {{ .Site.Title }}{{- end -}}
{{- end -}}

{{- define "content" -}}
  <article class="page text-center translate-y-[30vh]" id="content-offline">
    <div class="header">
      <h1 class="offline-title text-[3.6rem] animate__animated animate__pulse animate__faster">{{- T "offlineTitle" -}}</h1>
      <p class="offline-subtitle my-[0.4rem] text-base font-normal italic leading-none text-[#57606a] animate__animated animate__headShake">
        <i class="fa-stack fa-xs" aria-hidden="true">
          <i class="fa-solid fa-wifi fa-stack-1x" aria-hidden="true"></i>
          <i class="fa-solid fa-ban fa-stack-2x" aria-hidden="true"></i>
        </i>
        <span>ERROR_INTERNET_DISCONNECTED</span>
      </p>
    </div>
    <p class="error-text text-[1.2rem]">{{- T "offlineText" -}}</p>
  </article>
{{- end -}}
