{{- /* Taxonomies Page */ -}}
{{- $iconMap := dict
  "category" "fa-regular fa-folder"
  "collection" "fa-solid fa-layer-group"
-}}
{{- $icon := index $iconMap .Data.Singular | default $iconMap.category -}}

<div class="taxonomy-cards {{ .Data.Plural }}">
  {{- range .Data.Terms.ByCount -}}
    {{- $term := .Term -}}
    {{- $pages := .Pages -}}
    {{- with $.Site.GetPage "taxonomy" (printf "%v/%v" $.Type $term) -}}
    <div class="card-item">
      <div class="card-item-wrapper">
        <h2 class="card-item-title">
          <a href='{{ partial "function/escapeurl.html" .RelPermalink }}'>
            {{- dict "Class" (add $icon " me-1") | partial "plugin/icon.html" -}}
            {{- .Page.Title }} <sup>{{ len $pages }}</sup>
          </a>
        </h2>
        {{- range first 5 $pages -}}
          <article class="archive-item">
            <a href="{{ .RelPermalink }}" class="archive-item-link">
              {{- $repost := .Params.repost | default dict -}}
              {{- if eq $repost.enable true -}}
                {{- dict "Class" "fa-solid fa-share text-success me-1" | partial "plugin/icon.html" -}}
              {{- end -}}
              {{- cond (.Param "capitalizeTitles") (title .LinkTitle) .LinkTitle -}}
            </a>
          </article>
        {{- end -}}
        {{- if gt (len $pages) 5 -}}
          <div class="more-post">
            <a href='{{ partial "function/escapeurl.html" .RelPermalink }}' class="more-single-link">{{ T "pagination.more" }} >></a>
          </div>
        {{- end -}}
      </div>
    </div>
    {{- end -}}
  {{- end -}}
</div>
{{- /* EOF */ -}}
