{{- $codeblock := .Attributes | merge (.Page.Param "codeblock") -}}
{{- $result := transform.HighlightCodeBlock . -}}
{{- $wrapper := $result.Wrapped -}}

{{- if $codeblock.wrapped -}}
  {{- $mode := $codeblock.mode | default "classic" -}}
  {{- $lines := cond .Inner (len (split .Inner "\n")) 0 -}}
  {{- $maxShownLines := $codeblock.maxshownlines -}}
  {{- $class := "highlight" -}}
  {{- with $codeblock.class -}}
    {{- $class = add $class " " . -}}
  {{- end -}}

  {{- /* add data attributes and class */ -}}
  {{- if $codeblock.editable -}}
    {{- $wrapper = replace $wrapper (printf `class="%s"` $class) (printf `class="%s" data-editable="%v"` $class $codeblock.editable) -}}
  {{- end -}}
  {{- if $codeblock.copyable -}}
    {{- $wrapper = replace $wrapper (printf `class="%s"` $class) (printf `class="%s" data-copyable="%v"` $class $codeblock.copyable) -}}
  {{- end -}}
  {{- $wrapper =
    replace $wrapper
    (printf `class="%s"` $class)
    (printf `class="code-block %s" data-mode="%s" data-max="%v"` $class $mode $maxShownLines)
  -}}

  {{- /* add code expand button */ -}}
  {{- if (gt $lines $maxShownLines) | and (gt $lines 0) | and (gt $maxShownLines 0) -}}
    {{- $wrapper = dict "Wrapper" $wrapper | partial "function/code-expand-btn.html" -}}
  {{- end -}}

  {{- /* remove redundant attributes */ -}}
  {{- $wrapper = replaceRE ` wrapped="[^"]*"` "" $wrapper -}}
  {{- $wrapper = replaceRE ` mode="[^"]*"` "" $wrapper -}}
  {{- $wrapper = replaceRE ` copyable="[^"]*"` "" $wrapper -}}
  {{- $wrapper = replaceRE ` maxshownlines="[^"]*"` "" $wrapper -}}
  {{- $wrapper = replaceRE ` editable="[^"]*"` "" $wrapper -}}

  {{- if eq $mode "classic" -}}
    {{- $wrapper = partial "function/code-header.html" (dict "Wrapper" $wrapper "Opts" $codeblock "Type" .Type) -}}
  {{- else -}}
    {{- $wrapper = dict "Wrapper" $wrapper | partial "function/code-copy-btn.html" -}}
  {{- end -}}
{{- end -}}

{{- $wrapper | safeHTML -}}
