{{- $codeblock := .Attributes | merge (.Page.Param "codeblock") -}}
{{- $result := transform.HighlightCodeBlock . -}}
{{- $wrapper := $result.Wrapped -}}

{{- if $codeblock.wrapped -}}
  {{- $mode := $codeblock.mode | default "normal" -}}
  {{- $class := "highlight" -}}
  {{- $codeArr := slice -}}

  {{- with $codeblock.class -}}
    {{- $class = add $class " " . -}}
  {{- end -}}
  {{- with .Inner -}}
    {{- $codeArr = split . "\n" -}}
  {{- end -}}

  {{- /* add data attributes */ -}}
  {{- if $codeblock.editable -}}
    {{- $wrapper = replace $wrapper (printf `class="%s"` $class) (printf `class="%s" data-editable="%v"` $class $codeblock.editable) -}}
  {{- end -}}
  {{- if $codeblock.copyable -}}
    {{- $wrapper = replace $wrapper (printf `class="%s"` $class) (printf `class="%s" data-copyable="%v"` $class $codeblock.copyable) -}}
  {{- end -}}
  {{- $wrapper = replace $wrapper (printf `class="%s"` $class) (printf `class="%s" data-mode="%s"` $class $mode) -}}
  {{- $wrapper = replace $wrapper (printf `class="%s"` $class) (printf `class="%s" data-max="%v"` $class $codeblock.maxshownlines) -}}
  {{- $wrapper = replace $wrapper (printf `class="%s"` $class) (printf `class="%s" data-lines="%d"` $class (len $codeArr)) -}}
  {{- $wrapper = replace $wrapper (printf `class="%s"` $class) (printf `class="code-block %s"` $class) -}}

  {{- /* remove redundant attributes */ -}}
  {{- $wrapper = replaceRE ` wrapped="[^"]*"` "" $wrapper -}}
  {{- $wrapper = replaceRE ` mode="[^"]*"` "" $wrapper -}}
  {{- $wrapper = replaceRE ` copyable="[^"]*"` "" $wrapper -}}
  {{- $wrapper = replaceRE ` maxshownlines="[^"]*"` "" $wrapper -}}
  {{- $wrapper = replaceRE ` editable="[^"]*"` "" $wrapper -}}

  {{- if eq $mode "normal" -}}
    {{- $wrapper = partial "code-wrapper/code-header.html" (dict "Wrapper" $wrapper "Opts" $codeblock "Type" .Type) -}}
  {{- end -}}
{{- end -}}

{{- $wrapper | safeHTML -}}
