# -------------------------------------------------------------------------------------
# Single Friend Link Information
# 单个友情链接信息
# -------------------------------------------------------------------------------------
# - nickname: friend's name 朋友名字
#   avatar: friend's avatar 朋友头像
#   url: site link 站点链接
#   description: description of friend/site 对朋友或其站点的说明
# -------------------------------------------------------------------------------------
