.fixed-buttons {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  @include z-index(1);
}
.fixed-button {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem 0.625rem;
  color: $global-font-color;
  background-color: $header-background-color;
  @include border-radius(1.25rem);
  @include transition(color 0.4s ease);
  @include blur;
  @extend .print-d-none;

  &:hover,
  &:active {
    color: $global-font-color;
    cursor: pointer;
  }

  &:active,
  &:focus,
  &:hover {
    outline: none;
  }

  [data-theme='dark'] & {
    color: $global-font-color-dark;
    background-color: $header-background-color-dark;

    &:hover,
    &:active {
      color: $global-font-color-dark;
    }
  }
}
