{{- define "title" -}}
  {{- .Params.Title | default (T .Data.Plural) | default .Data.Plural | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
  {{- $taxonomies := .Data.Plural -}}

  <div class="page archive">
    {{- /* Title */ -}}
    <h2 class="single-title animate__animated animate__pulse animate__faster">
      {{- .Params.Title | default (T $taxonomies) | default $taxonomies | dict "Some" | T "allSome" }}
      <sup>{{- len .Data.Terms.ByCount -}}</sup>
    </h2>
    {{- /* Render miscellaneous terms */ -}}
    {{- .Render (add "terms/" $taxonomies) -}}
  </div>
{{- end -}}
