blockquote.blockquote-center {
  border-left: none;
  margin: 40px 0;
  padding: 0;
  position: relative;
  text-align: center;
  color: inherit;

  &::after,
  &::before {
    left: 0;
    line-height: 1;
    opacity: 0.6;
    position: absolute;
    width: 100%;
  }

  &::before {
    border-top: 1px solid $global-border-color;
    text-align: left;
    top: -20px;
    font-family: var(--fa-family-classic);
    font-weight: 900;
    content: '\f10d';

    [data-theme=dark] & {
      border-top-color: $global-border-color-dark;
    }
  }

  &::after {
    border-bottom: 1px solid $global-border-color;
    bottom: -20px;
    text-align: right;
    font-family: var(--fa-family-classic);
    font-weight: 900;
    content: '\f10e';

    [data-theme=dark] & {
      border-bottom-color: $global-border-color-dark;
    }
  }
}
